body{font-family: 'Poppins', sans-serif;
}


/*--------------------------------------------------------------
# Our Services
--------------------------------------------------------------*/
.services {
    padding-bottom: 20px;
  }
  .services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #fff;
  }
  .services .icon {
    margin: 0 auto 20px auto;
    padding-top: 17px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
  }
  .services .icon i {
    font-size: 36px;
    line-height: 1;
  }
  .services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .services .title a {
    color: #111;
  }
  .services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .services .icon-box-pink .icon {
    background: #fceef3;
  }
  .services .icon-box-pink .icon i {
    color: #ff689b;
  }
  .services .icon-box-pink:hover {
    border-color: #ff689b;
  }
  .services .icon-box-cyan .icon {
    background: #e6fdfc;
  }
  .services .icon-box-cyan .icon i {
    color: #3fcdc7;
  }
  .services .icon-box-cyan:hover {
    border-color: #3fcdc7;
  }
  .services .icon-box-green .icon {
    background: #eafde7;
  }
  .services .icon-box-green .icon i {
    color: #41cf2e;
  }
  .services .icon-box-green:hover {
    border-color: #41cf2e;
  }
  .services .icon-box-blue .icon {
    background: #e1eeff;
  }
  .services .icon-box-blue .icon i {
    color: #2282ff;
  }
  .services .icon-box-blue:hover {
    border-color: #2282ff;
  }


  /* carousel caption */

  .carousel-caption{
    transform : translateY(-15%);
    transform: translateX(-40%);
    right: 40%;
    bottom : initial;
    top : 15%
  }

  /* Warna Font */
  .merah{
    color:#9D1C21;
  }

  .amber{
    color:#C54717;
  }
  .cream{
    color:#FFE4BC;
  }
  


/* Testimoni Section */
.testimoni-box{
  position: relative;
  background-color: #00404C;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.testimoni-box::before {
 content:'TESTI';
 position: absolute;
 color: #fff;
 font-size: 4em;
 font-weight: bold;
 font-style: italic;
 top: 30px;
 left: 50%;
 transform: translate(-50%,0);
 opacity: 0;
 transition: 0.5s;
}

.testimoni-box:hover::before{
  opacity: 0.2;
}

.testimoni-box::after {
  content:'MONI';
  position: absolute;
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
 }

 .testimoni-box:hover::after{
  opacity: 0.2;
 }

 .testimoni-name{
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0,0,50px);
  transition: 0.5s;
 }

 .testimoni-box:hover .testimoni-name{
  top: 20px;
  opacity: 1;
 }

 .testimoni-detail-button{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
 }

 .testimoni-box:hover .testimoni-detail-button{
  opacity: 1;
  bottom: 20px;
 }

 .testimoni-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,100px);
  max-width: 250px;
  transition: 0.5s; 
 }

 .testimoni-box:hover .testimoni-img{
  transform: translate3d(-50%,-50%,100px) rotate(3deg)scale(1.2);

 }